html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 8px;
}
    
.div1 {
    position: fixed;
    grid-row: span 5 / span 5;
}

.input {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #0d1117;
    justify-content: center;
    border-radius: 5px;
}

.value {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.value:not(:active):hover,
.value:focus {
    background-color: #21262c;
}

.value:focus,
.value:active {
    background-color: #1a1f24;
    outline: none;
}

.value::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2f81f7;
    border-radius: 5px;
    opacity: 0;
}

.value:focus::before,
.value:active::before {
    opacity: 1;
}

.value svg {
    width: 15px;
}

.div2 {
    grid-column: 2 / span 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px; /* Khoảng cách giữa các phần tử */
    font-weight: bold; /* Bôi đậm text */
    font-size: 24px;
}

.div2 h1 {
    color: #110055;
    font-size: 30px;
    margin: 20px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #fefefe;
    margin-top: 10px;
    transition: all 0.5s ease;
    margin-left: auto;
    margin-right: 50px;
}

.div3 {
    grid-column: 2 / span 4;     /* bắt đầu ở cột 2, chiếm 4 cột */
    grid-row: 2 / span 4;
}